@{
    ViewData["Title"] = "Home Page";
}

<div id="installer">
    <div class="image-container set-full-height">
        <!--   Creative Tim Branding   -->
        <a href="#">
            <div class="logo-container">
                <div class="logo">
                    <img src="~/assets/img/new_logo.png">
                </div>
                <div class="brand">
                    {{appname}}
                </div>
            </div>
        </a>

        <!--   Big container   -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <!--      Wizard container        -->
                    <div class="wizard-container">
                        <div class="card wizard-card" data-color="azure" id="wizard">
                            <form action="" method="">
                                <!--        You can switch " data-color="azure" "  with one of the next bright colors: "blue", "green", "orange", "red"           -->

                                <div class="wizard-header">
                                    <h3 class="wizard-title">Welcome to HotBag Installation Widgard</h3>
                                    <p class="category"></p>
                                </div>

                                <div class="wizard-navigation">
                                    <div class="progress-with-circle">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 21%;"></div>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="#details" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-list"></i>
                                                </div>
                                                User Settings
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#captain" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-briefcase"></i>
                                                </div>
                                                Application Module
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#description" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-pencil"></i>
                                                </div>
                                                Application Settings
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane" id="details">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h5 class="info-text"> Let's start with the basic details</h5>
                                            </div>
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label>What city do you want to work in?</label>
                                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="e.g Silicon Valley">
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label>Space</label>
                                                    <select class="form-control">
                                                        <option disabled="" selected="">- choose a space -</option>
                                                        <option>Work Space</option>
                                                        <option>Meeting Space</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label>Type of Desk</label>
                                                    <select class="form-control">
                                                        <option disabled="" selected="">- choose an option -</option>
                                                        <option>Private</option>
                                                        <option>Shared</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label>Monthly Budget</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control">
                                                        <span class="input-group-addon">$</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="captain">
                                        <h5 class="info-text">Select all the module you want to install. </h5>
                                        <div class="row installation-item-area">
                                            <div class="col-sm-8 col-sm-offset-2">
                                                <div class="col-sm-4">
                                                    <div class="choice" data-toggle="wizard-checkbox">
                                                        <input type="checkbox" name="jobb" value="Design">
                                                        <div class="card card-checkboxes card-hover-effect">
                                                            <i class="ti-time"></i>
                                                            <p>By hour</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="choice" data-toggle="wizard-checkbox">
                                                        <input type="checkbox" name="jobb" value="Design">
                                                        <div class="card card-checkboxes card-hover-effect">
                                                            <i class="ti-calendar"></i>
                                                            <p>By day</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="choice" data-toggle="wizard-checkbox">
                                                        <input type="checkbox" name="jobb" value="Design">
                                                        <div class="card card-checkboxes card-hover-effect">
                                                            <i class="ti-time"></i>
                                                            <p>By hour</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="choice" data-toggle="wizard-checkbox">
                                                        <input type="checkbox" name="jobb" value="Design">
                                                        <div class="card card-checkboxes card-hover-effect">
                                                            <i class="ti-calendar"></i>
                                                            <p>By day</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="choice" data-toggle="wizard-checkbox">
                                                        <input type="checkbox" name="jobb" value="Design">
                                                        <div class="card card-checkboxes card-hover-effect">
                                                            <i class="ti-time"></i>
                                                            <p>By hour</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="choice" data-toggle="wizard-checkbox">
                                                        <input type="checkbox" name="jobb" value="Design">
                                                        <div class="card card-checkboxes card-hover-effect">
                                                            <i class="ti-calendar"></i>
                                                            <p>By day</p>
                                                        </div>
                                                    </div>
                                                </div> <div class="col-sm-4">
                                                    <div class="choice" data-toggle="wizard-checkbox">
                                                        <input type="checkbox" name="jobb" value="Design">
                                                        <div class="card card-checkboxes card-hover-effect">
                                                            <i class="ti-time"></i>
                                                            <p>By hour</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="choice" data-toggle="wizard-checkbox">
                                                        <input type="checkbox" name="jobb" value="Design">
                                                        <div class="card card-checkboxes card-hover-effect">
                                                            <i class="ti-calendar"></i>
                                                            <p>By day</p>
                                                        </div>
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="description">
                                        <div class="row">
                                            <h5 class="info-text"> Tell us about your ideal working space. </h5>
                                            <div class="col-sm-6 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label>Desk description</label>
                                                    <textarea class="form-control" placeholder="" rows="9"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Example</label>
                                                    <p class="description">"If you're heavily armed with a mug, smartphone and a laptop, then our hot desks will provide the pure functionality and space needed to get your work done and move on to the next one."</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-footer">
                                    <div class="pull-right">
                                        <input type='button' class='btn btn-next btn-fill btn-primary btn-wd' name='next' value='Next' />
                                        <input type='button' class='btn btn-finish btn-fill btn-primary btn-wd' name='finish' value='Finish' />
                                    </div>

                                    <div class="pull-left">
                                        <input type='button' class='btn btn-previous btn-default btn-wd' name='previous' value='Previous' />
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div> <!-- wizard container -->
                </div>
            </div> <!-- row -->
        </div> <!--  big container -->
        <div class="footer">
            <div class="container text-center">
                Made with <i class="fa fa-heart heart"></i> by <a target="_blank" href="#">Pradeep Raj Thapaliya</a>. Free download <a target="_blank" href="https://github.com/pradeep9860/HotBag">here.</a>
            </div>
        </div>
    </div> 
</div>

<style>
    .installation-item-area{
        max-height: 300px;
        overflow-x : hidden;
        overflow-y: scroll;
    }
</style>
 
@section scripts {
 
}
